<h1>Show Warehouse item</h1>

<ul>

  <li>
    <strong>Sku:</strong>
    <%= @warehouse_item.sku %>
  </li>

  <li>
    <strong>Price:</strong>
    <%= @warehouse_item.price %>
  </li>

  <li>
    <strong>Stick quantity:</strong>
    <%= @warehouse_item.stick_quantity %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.admin_warehouse_item_path(@conn, :edit, @warehouse_item) %></span>
<span><%= link "Back", to: Routes.admin_warehouse_item_path(@conn, :index) %></span>
